.ButtonsWrapper {
  display: flex;
  justify-content: space-between;
  width: 20%;

  .Button {
    background: #32b132;
    border: none;
    border-radius: 2px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    padding: 0.2rem 0.3rem;
  }
}
